.logo a {
    font-size: 30px;
    font-family: 'Fredoka One', cursive;
}

.navbar-nav a {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    color: #0C2E3D;
}

.btn-login {
    border: 1.3px solid #0C2E3D;
    background-color: #F8F7F1;
    color: #0C2E3D;
}

.card-body img {
    max-width: 50px;
}

.backtotop-img img {
    padding-left: 8px;
    height: 12px;
}

.pin-img img {
    padding-right: 8px;
    height: 23px;
}



/* --- */
.h1s {
    font-size: 60px;
    font-family: 'Archivo Black', sans-serif;
    color: #0C2E3D;
    line-height: 68px;
}

.h2s {
    font-size: 40px;
    font-family: 'Archivo Black', sans-serif;
    color: #0C2E3D;
}

.h3s {
    font-size: 23px;
    font-family: 'Ubuntu', sans-serif;
    color: #0C2E3D;
}

.h4s {
    font-family: 'Fredoka One', cursive;
    color: #FDFDFD;
}

.h5s {
    font-family: 'Ubuntu', sans-serif;
    color: #0C2E3D;
}

.ps {
    font-family: 'Ubuntu', sans-serif;
    color: #0C2E3D;
}

.as {
    text-decoration: none;
}

.btns {
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-round {
    border: 0px;
    border-radius: 50px;
    padding: 6px 12px;
    background-color: #E5E7E7;
    color: #5C5B5B;
    font-weight: 500;
    cursor: pointer;
}

.btn-active {
    background-color: #F77F00;
    color: #FDFDFD;
}



/* colors */
.bg-color1 {
    background-color: #F8F7F1;
}

.bg-color2 {
    background-color: #FDFDFD;
}

.bg-color3 {
    background-color: #87B547;
}

.text-color1 {
    color: #0C2E3D;
}

.text-color2 {
    color: #FDFDFD;
}

.text-color3 {
    color: #F77F00;
}